torch>=2.0.0
numpy>=1.24.2
dm-control>=1.0.11
hydra-core>=1.3.2
scikit-learn>=1.2.2

# to run rl mujoco experiments
# https://github.com/openai/gym/issues/3200
# setuptools==66.0.0
# gym==0.21.0
# ./mujoco/libs/stable-baselines3

# logs, viz, report
wandb>=0.14.2
loguru>=0.7.0
matplotlib>=3.7.2
ipykernel>=6.23.1

# format and lint
black>=23.3.0
autoflake>=2.0.2

# `torchkme` package
-e ./kme.all/kme.py

# `kme` cpp wrapper package
# Uncomment once you built lib.so only
# -e ./kme.all/kme.cpp
